body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.itemsside{
    float: left;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weathericon{
    width: 110px;
    height: 90px;
    float: right;
}

.moved{
    position: relative;
    top: 230px;
}

.itemsside2{
    float: right;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    margin: 0;
    padding: 0;
    /* border: 2px solid white; */
    width: 215px;
    height: 40px;
}

.sidetext{
    color: white;
    font-size: 20px;
    margin: 5px;
}

.footer{
    position: relative;
    bottom: 90px;
    margin: 0;
    padding: 0;
    /* border: 2px solid white; */
    /* width: 40px;
    height: 40px; */
}

#gif2{
    width: 260px;
    height: 150px;
}

.leftf{
    float: left;
}
.rightf{
    float: right;
}

.iconimg{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

#speedimg{
    width: 47px;
}

#soundwaves{
    color: green;
    width: 350px;
    position: relative;
    top: 54px;
    right: 30px;
    z-index: 111;
}



#waveform{
    width:300px;
}

#gif3{
    width: 300px;
    height: 164px;
}

#gif4{
    width: 300px;
    height: 122px;
    position: relative;
    bottom: 195px;
}

#rightu *{
    margin: 5px;
}

#rightu :nth-child(9){
    position: relative;
    top: 30%;
}

/* #printall ::-webkit-scrollbar{
    width:10px;
}

#printall ::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 20px;
}

#printall ::-webkit-scrollbar-track{
    background-color: rgb(189, 187, 187);
    border-radius: 20px;
} */

.robo{
    text-align: left;
    color: red;
}

#gif1{
    margin: 0;
    padding: 0;
    width: 276px;
    height: 111px;
}

#printall{
    margin: 0;
    flex: 1 1 auto;
    overflow-y: auto;
}

#printall::-webkit-scrollbar {
    width: 10px;
}

#printall::-webkit-scrollbar-track {
  /*background-color: grey;*/
  box-shadow: inset 0 0 5px rgb(211, 210, 210); 
  border-radius: 30px;
}

#printall::-webkit-scrollbar-thumb {
  background-color: rgb(82, 81, 81); 
  border-radius: 15px;
  /* border: 1px solid red; */
}

/* #printall::-webkit-scrollbar-button {
  background-color: red;
   border-radius: 15px;
} */

#printall::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 49, 49); 
}

#result {
    display: flex;
    /* border: 2px solid aqua; */
    height: 73vh;
    width: 30vw;
    flex-direction: column;
    margin: 10px;
    justify-content: flex-end;
}

#printall ::-webkit-scrollbar{
    width: 20px;
}

#printall ::-webkit-scrollbar-track{
    background-color: rgb(117, 116, 116);
    border-radius: 20px;
}

.on{
    color: greenyellow;
}

.off{
    color: red;
}

.user{
    text-align: right;
    color: blue;
}

h1 {
    color: greenyellow;
    font-size: 50px;
    margin: 0;
}

#start {
    background-color: cyan;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    cursor: pointer;
    margin: 10px;
    width: 175px;
    height: 70px;
}

#start:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.others {
    opacity: 0;
}

.other {
    color: white;
    animation-name: opac;
    animation-duration: 2s;
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}